# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/
/kafka-avro/build
/kafka-consumer/build
/kafka-publisher/build
/PubSub/build
/gradle.properties
/kafka-avro/gradle.properties
